/* ./styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* fix and override tailwind canvas default styling */
canvas {
  @apply inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blockies {
  border-radius: 50%;
}

.mainInput {
  border: 2px solid rgba(89, 50, 196, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 8px 64px rgba(111, 63, 245, 0.08);
  border-radius: 8px;
  padding: 30px;
  justify-content: center;
}
